In [ ]:
import pandas as pd
import pyodbc
import time

In [ ]:
pip install openpyxl

In [ ]:
df = pd.read_excel('data.xlsx')

In [ ]:
df.head()

In [ ]:
# TODO 
# data.xlsx içerisindeki örnek verileri sql database içerisine aktarıp analiz edelim.
# 5 farklı veri kaynağı bulup TechcareerDB içerisine aktaralım.

In [ ]:
# Bağlantı bilgileri
server = 'localhost'
database = 'TechcareerDB'
username = 'sa'
password = 'YourStrong!Passw0rd'
driver = '{SQL Server}'  # Sürücü adını güncelledik
schema = 'dbo'  # Şema bilgisi

# Yüklü ODBC sürücülerini kontrol edelim
print("Yüklü ODBC sürücüleri:")
print(pyodbc.drivers())

In [ ]:

# Bağlantı dizesi
conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password}'
)

# Bağlantıyı test etme
try:
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    cursor.execute("SELECT @@VERSION;")
    version = cursor.fetchone()
    print(f"SQL Server bağlantısı başarılı. Sürüm: {version[0]}")
    cursor.close()
    conn.close()
except pyodbc.Error as e:
    print("SQL Server'a bağlanılamadı.")
    print("Hata mesajı:", e)
    exit(1)

In [ ]:

# Bağlantıyı tekrar aç
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [ ]:

# Veritabanını oluştur (eğer yoksa)
cursor.execute(f"IF DB_ID(N'{database}') IS NULL CREATE DATABASE [{database}]")
cursor.commit()

In [ ]:

# Tablo adı ve tam tablo adı
table_name = 'Jobs'
full_table_name = f'[{schema}].[{table_name}]'

# Sütun adları ve veri tiplerini belirleme
columns_with_types = ', '.join([f'[{col}] NVARCHAR(MAX)' for col in df.columns])

# Tabloyu oluştur (eğer yoksa)
create_table_query = f'''
IF OBJECT_ID(N'{schema}.{table_name}', N'U') IS NULL
BEGIN
    CREATE TABLE {full_table_name} (
        {columns_with_types}
    )
END
'''
cursor.execute(create_table_query)
cursor.commit()

In [ ]:
df.head()

In [60]:


# DataFrame'deki NaN değerlerini None ile değiştiriyoruz
df = df.where(pd.notnull(df), None)

# Tarih sütunlarını belirleme
date_columns = df.select_dtypes(include=['datetime', 'datetime64[ns]']).columns.tolist()
print("Tarih sütunları:", date_columns)


# DataFrame'i SQL Server'a yazma (1000'lik parçalar halinde)
columns = ', '.join([f'[{col}]' for col in df.columns])
placeholders = ', '.join(['?' for _ in df.columns])
insert_query = f'INSERT INTO {full_table_name} ({columns}) VALUES ({placeholders})'

data = [tuple(row) for row in df.values]

chunk_size = 100  # Her seferinde 100 satır ekle
total_rows = len(df)
for start in range(0, 500, chunk_size): #total_rows
    end = min(start + chunk_size, total_rows)
    chunk_df = df.iloc[start:end]
    chunk_data = [tuple(row) for row in chunk_df.values]
    try:
        cursor.executemany(insert_query, chunk_data)
        conn.commit()
        print(f"{start + 1}-{end} arası satırlar eklendi.")
    except pyodbc.Error as e:
        print(f"{start + 1}-{end} arası satırlar eklenirken hata oluştu.")
        print("Hata mesajı:", e)
        conn.rollback()
        # Problemli satırları yazdırma
        print(chunk_df)
        exit(1)

Tarih sütunları: ['LastApplyDate', 'PublishDate', 'CreateDate']
1-100 arası satırlar eklenirken hata oluştu.
Hata mesajı: ('22008', '[22008] [Microsoft][ODBC SQL Server Driver]Datetime field overflow (0) (SQLExecDirectW)')
    SiteId   JobNo                        JobTitle  \
0       60  211919                   TEKNIK SERVIS
1       60  225513     MUHASEBE / FINANS GÖREVLISI
2       60  289519             ELEKTRIK TEKNISYENI
3       60  292417                 VINÇ OPERATÖRÜ
4       60  292421                           SOFÖR
..     ...     ...                             ...
95      25   63270           Çağrı Merkezi Elemanı
96      25   63272        Satış Danışmanı Arıyoruz
97      25   63274          Proje Elemanı Arıyoruz
98      25   63276  Gayrimenkul Danışmanı Arıyoruz
99      25   63279                   Komi Arıyoruz

                          Position LastApplyDate        JobLocation  \
0                    TEKNIK SERVIS    2024-12-14              Muğla
1      MUHASEBE / FINANS GÖREVLISI    2024-10-25              Muğla
2              ELEKTRIK TEKNISYENI    2024-10-25              Muğla
3                  VINÇ OPERATÖRÜ     2024-12-06              Muğla
4                            SOFÖR    2024-12-06              Muğla
..                             ...           ...                ...
95           Çağrı Merkezi Elemanı           NaT          Tüm İller
96        Satış Danışmanı Arıyoruz           NaT   İstanbul(Avrupa)
97          Proje Elemanı Arıyoruz           NaT              Bursa
98  Gayrimenkul Danışmanı Arıyoruz           NaT   İstanbul(Avrupa)
99                   Komi Arıyoruz           NaT  İstanbul(Anadolu)

   PublishDate          CreateDate
0   2024-11-14 2024-11-19 00:06:00
1   2024-09-25 2024-11-19 00:06:00
2   2024-09-25 2024-11-19 00:06:00
3   2024-11-06 2024-11-19 00:06:00
4   2024-11-06 2024-11-19 00:06:00
..         ...                 ...
95  2024-10-22 2024-11-19 01:36:00
96  2024-10-23 2024-11-19 01:36:00
97  2024-10-23 2024-11-19 01:36:00
98  2024-10-25 2024-11-19 01:36:00
99  2024-10-25 2024-11-19 01:36:00

[100 rows x 8 columns]
101-200 arası satırlar eklenirken hata oluştu.
Hata mesajı: ('22008', '[22008] [Microsoft][ODBC SQL Server Driver]Datetime field overflow (0) (SQLExecDirectW)')
     SiteId     JobNo                                           JobTitle  \
100      25     63282                  Orman Endüstri Mühendisi Arıyoruz
101      25     63284                           Vasıfsız Eleman Arıyoruz
102      25     63288  İstanbul'da Dizi, Reklam, Sinema, Klip Oyuncul...
103      25     63292                          Muhasebe Elemanı Arıyoruz
104      25     63295                         Part-Time Asistan Arıyoruz
..      ...       ...                                                ...
195       4  i4147794                       Temizlik Görevlisi (Bomonti)
196       4  i4147800                   Muhasebe Ve Mali İşler Sorumlusu
197       4  i4147806                                     Boya Operatörü
198       4  i4147818                           Transpalet Çekme Elemanı
199       4  i4147824                                 Garson- Şef Garson

                                              Position       LastApplyDate  \
100                  Orman Endüstri Mühendisi Arıyoruz                 NaT
101                           Vasıfsız Eleman Arıyoruz                 NaT
102  İstanbul'da Dizi, Reklam, Sinema, Klip Oyuncul...                 NaT
103                          Muhasebe Elemanı Arıyoruz                 NaT
104                         Part-Time Asistan Arıyoruz                 NaT
..                                                 ...                 ...
195                       Temizlik Görevlisi (Bomonti) 2025-02-17 01:49:00
196                   Muhasebe Ve Mali İşler Sorumlusu 2025-02-17 01:49:00
197                                     Boya Operatörü 2025-02-17 01:49:00
198                           Transpalet Çekme Elemanı 2025-02-17 01:49:00
199                                 Garson- Şef Garson 2025-02-17 01:49:00

           JobLocation PublishDate          CreateDate
100            Sakarya  2024-10-26 2024-11-19 01:36:00
101  İstanbul(Anadolu)  2024-10-27 2024-11-19 01:36:00
102   İstanbul(Avrupa)  2024-10-28 2024-11-19 01:36:00
103   İstanbul(Avrupa)  2024-10-29 2024-11-19 01:36:00
104             Ankara  2024-10-30 2024-11-19 01:36:00
..                 ...         ...                 ...
195    İstanbul Avrupa  2024-11-15 2024-11-19 01:49:00
196    İstanbul Avrupa  2024-11-14 2024-11-19 01:49:00
197            Kocaeli  2024-11-15 2024-11-19 01:49:00
198   İstanbul Anadolu  2024-11-18 2024-11-19 01:49:00
199              İzmir  2024-11-15 2024-11-19 01:49:00

[100 rows x 8 columns]
201-300 arası satırlar eklendi.
301-400 arası satırlar eklendi.
401-500 arası satırlar eklendi.

In [ ]:
conn_str = (
    f"DRIVER={driver};"
    f"SERVER=localhost;"
    f"DATABASE={database};"
    f"UID={username};"
    f"PWD={password}"
)

In [ ]:
import time
import pyodbc

# Maksimum deneme sayısı ve bekleme süresi
max_retries = 10
wait_seconds = 5

for attempt in range(max_retries):
    try:
        conn = pyodbc.connect(conn_str)
        print("SQL Server'a başarılı bir şekilde bağlanıldı.")
        break
    except pyodbc.Error as e:
        print(f"Bağlantı denemesi {attempt + 1}/{max_retries} başarısız oldu. Bekleniyor...")
        time.sleep(wait_seconds)
else:
    print("SQL Server'a bağlanılamadı. Lütfen ayarları kontrol edin.")
    exit(1)